.otherMenu-section {
    width: 90vw;
    height: auto;
}

.ala-carte {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 40px;
    border-bottom: 3px solid goldenrod;
}

.alacarte-pic {
    height: auto;
    width: clamp(20rem, 25vw, 25vw);
    padding-bottom: 20px;
}

.alacarte-side {
    height: auto;
    width: clamp(20rem, 25vw, 22vw);
    border-radius: 10px;
    margin-bottom: 40px;
}

.pasta-menu, .others-menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 40px;
    border-bottom: 3px solid goldenrod;
}

.addons-menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 40px;
}

.pasta-txt, .addons-txt, .others-txt {
    height: auto;
    width: clamp(20rem, 25vw, 25vw);
}

.pasta-pic, .addons-pic, .others-pic {
    height: auto;
    width: clamp(20rem, 25vw, 25vw);
    margin: 50px 0px;
    border-radius: 10px;
}

@media screen and (max-width:992px) {
    .ala-carte, .others-menu {
        flex-direction: column-reverse;
        margin-top: 0px;
    }

    .pasta-menu,  .addons-menu {
        flex-direction: column;
        margin-top: 0px;
    }

    .alacarte-side {
        margin-top: 10%;
    }

    .alacarte-pic, .addons-txt, .pasta-txt, .others-txt {
        margin-bottom: 10%;
    }
}